.friends-add {
    background-color: rgba(239, 242, 250, 0.992);
    color: #495057;
    margin-top: 100px;
    padding: 10px 0px;
    text-align: center;
    display: block;
}

.friends-add i {
    color: gray;
}

.friends-add i:nth-child(2) {
    margin-left: 3px;
    color: rgba(226, 226, 226, 0.9)
}