.chats-main {
    margin-top: 100px;
    padding: 5%;
}

.chats-user > a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.chats-user__component--L {
    display: flex;
    align-items: center;
}

.chats-user__component--R {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chats-user__cover {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border: 2px solid #E5E9F4;
    border-radius: 20px;
}

.chats-user__cover--xl {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border: 2px solid #E5E9F4;
    border-radius: 25px;
}

.chats-user__cover--sm {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 2px solid #E5E9F4;
    border-radius: 15px;
}

.chats-user__name {
    font-size: 18px;
    font-weight: 600;
}

.chats-user__description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    margin-top: 8px;
}

.chats-user__component--R div {
    background-color: tomato;
    color: #E5E9F4;
    font-size: 13px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chats-user__component--R span {
    color: #808080;
    font-size: 15px;
    font-weight: 400;
}