.find-friends {
    border-top: 1px solid #b5b6bd;
    border-bottom: 1px solid #b5b6bd;
    padding: 15px 0px;
}

.find-friends__title {
    color:  #b5b6bd;
    font-size: 13px;
    font-weight: 400;
}

.find-friends span {
    color: #b5b6bd;
    font-size: 15px;
    margin: 30% 0%;
    display: block;
    text-align: center;
}