@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import "find-headline.css";
@import "find-header.css";
@import "find-icon.css";
@import "find-friends.css";
@import "find-chat.css";
@import "find-nav.css";

body {
    font-family: 'Rubik', sans-serif;
    height: 120vh;
}

body div a {
    color: #495057;
}

.find-main {
    margin-top: 100px;
    padding: 5%;
}