.find-icons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(239, 242, 250, 0.992);
}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon i {
    color: #7c9cf5;
    font-size: 30px;
}

.find-icons__icon span {
    color: #495057;
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
}

.find-icons__icon:nth-child(2) {
    text-align: center;
    width: 20%;
}

.find-icons__icon:nth-child(2) span {
    margin-top: 15px;
}