@keyframes fadeIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.chatroom-main {
    margin-top: 120px;
    opacity: 0;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    animation: fadeIn 0.8s linear forwards;
}

.chatroom-timestamp {
    color: white;
    background-color: #899AAC;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 25px;
}

.chatroom-massage__row {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
}

.chatroom-massage__row img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 40%;
}

.chatroom-massage__sender {
    opacity: 0.8;
    font-size: 13px;
    margin-bottom: 8px;

    display: block;
}

.chatroom-massage__info {
    display: flex;
    align-items: flex-end;
}

.chatroom-massage__bubble {
    background-color: white;
    margin-right: 5px;
    padding: 13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
}

.chatroom-massage__time {
    opacity: 0.8;
    font-size: 13px;
}

.chatroom-massage__row-own {
    justify-content: flex-end;
}

.chatroom-massage__row-own .chatroom-massage__bubble {
    order: 1;

    background-color: #FFE300;
    border-radius: 15px;
    border-top-right-radius: 0px;
}

.chatroom-massage__row-own .chatroom-massage__time {
    order: 0;

    margin-right: 5px;
}