@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import "chatroom-headline.css";
@import "chatroom-header.css";
@import "chatroom-massage.css";
@import "chatroom-reply.css";

body {
    font-family: 'Rubik', sans-serif;
    height: 120vh;
}

#chat-screen {
    background-color: #A0B9C9;
}