.chatroom-reply {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.chatroom-reply i {
    opacity: 0.5;
}

.chatroom-reply .chatroom-reply__column:first-child {
    width: 10%;
}

.chatroom-reply .chatroom-reply__column:last-child {
    width: 90%;
    position: relative;
}

.chatroom-reply input {
    height: 30px;
    width: 100%;
    border: 1px solid #495057;
    border-radius: 20px;
}

.chatroom-reply__column:last-child > i,
.chatroom-reply__column:last-child button {
    position: absolute;
    right: -3px;
    top: 2px;
}

.chatroom-reply__column:last-child > i {
    right: 40px;
    top: 10px;
}

.chatroom-reply__column:last-child button {
    background-color: #FFE300;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.chatroom-reply__column:last-child button i {
    opacity: 1;
}

.chatroom-reply__column:last-child button:focus,
.chatroom-reply__column:last-child button:active {
    outline: none;
}