@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import "login-headline.css";
@import "login-greeting.css";
@import "login-input.css";
@import "login-alse.css";

body {
    font-family: 'Rubik', sans-serif;
    height: auto;
    padding: 5%;
}

body a {
    color:  #495057;
}