.more-user {
    margin-top: 100px;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.more-user__component--L {
    display: flex;
    align-items: center;
}

.more-user__component--R {
    display: flex;
    align-items: center;
}

.more-user__cover {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border: 2px solid #E5E9F4;
    border-radius: 20px;
}

.more-user__cover--xl {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border: 2px solid #E5E9F4;
    border-radius: 25px;
}

.more-user__cover--sm {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 2px solid #E5E9F4;
    border-radius: 15px;
}

.more-user__name {
    font-size: 18px;
    font-weight: 600;
}

.more-user__description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    margin-top: 8px;
}

.more-user__component--R span {
    color: #808080;
    font-size: 15px;
    font-weight: 400;
}

.more-user__component--R i {
    color: #808080;
    margin-left: 5px;
}