.more-header {
    background-color: white;
    position: fixed;
    top: 35px;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.more-header__title {
    color:  #495057;
    font-size: 30px;
    font-weight: 600;
}

.more-header__icons {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.more-header__icons i {
    color:  #495057;
}
