.more-headline {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5%;
    z-index: 2;
    box-sizing: border-box;
    text-align: right;
}

.more-headline a {
    margin-left: 3px;
}